.container {
	background-color: gray;
	width: 300px;
	border: 3px;
	padding: 30px;
	margin: 20px;
	border-radius: 7px;
	box-shadow: 1px 1px 3px 3px;
}

.relativeContainer {
	position: relative;
}

.left {
	display: inline-block;
	width: 80%;
}
.right {
	display: inline-block;
	width: 18%;
}

.center {
	position: absolute;
	top: 60px;
	right: 70%;
	left: 30%;
	width: 300px;
	color: antiquewhite;
}
